.backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.button:hover {
  background-color: var(--color-accent);
  transform: translateY(-3px);
}
